<%= javascript_include_tag("datepicker.js") %>
<%= search_form_for @q, as: :tours,
  class: "search-form col-md-8 col-md-offset-2" do |f| %>
  <div class="search-input">
    <%= f.search_field :name_or_locations_name_cont, placeholder: t(".wanna_go"),
      class: "search-form-input form-control" %>
  </div>
  <div class="datepicker-input">
    <%= f.search_field :date_from_gteq, placeholder: t(".from"),
      class: "datepicker form-control" %>
  </div>
  <div class="datepicker-input">
    <%= f.search_field :date_to_lteq, placeholder: t(".to"),
      class: "datepicker form-control" %>
  </div>
  <%= f.submit t(".search"), class: "btn btn-info btn-m search-form-submit" %>
<% end %>
