<%=javascript_include_tag "search_users.js"%>
<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="users-search-form">
  <%= search_form_for @q, as: :users, remote: true do |f| %>
    <%= f.label :name_or_email_cont %>
    <%= f.search_field :name_or_email_cont, class: "form-control" %>
  <% end %>
</div>
<div class="users-list">
  <%= render "users" %>
</div>
