<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="container">
  <nav>
    <div class="nav navbar-nav">
      <div class="dropdown dropdown-on-hover">
        <%= link_to t(".all"), tours_path %>
      </div>
        <%= render partial: "categories/category_navbar",
          collection: @categories %>
    </div>
  </nav>
</div>

<% if params[:search] %>
  <div class="col-md-offset-4 alert alert-success search-success" role="alert">
    <%= t ".tours_found", count: @tours.count %>
  </div>
<% end %>
<%= will_paginate %>
<ul class="tours">
    <%= render @tours %>
</ul>
<%= will_paginate %>
