<%= javascript_include_tag("slideshow.js") %>
<% provide :title, t(".title", name: @tour.name) %>
<h1><%= t ".title", name: @tour.name %></h1>
<div class="row">
  <div class="slideshow-container">
    <% images = [] %>
    <% @locations.each do |location| %>
      <% location.images.each {|image| images << image} %>
    <% end %>
    <%= render partial: "images/image", collection: images,
        locals: {first_image: images.first} %>
    <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <%= render partial: "info", object: @tour %>

  <% if signed_in? %>
    <div class="col-md-6 col-md-offset-3 tour-reviews">
      <b><%= t ".your_review" %></b>
      <% if current_user.reviewed? @tour %>
        <%= link_to t(".edit"), edit_review_path(@review), remote: true,
          id: "edit-review" %>
        <div class="review-form">
          <table>
            <tr class="th-review">
              <td id="current-user-review"><%= @review.content %></td>
            </tr>
          </table>
          <%= render partial: "reviews/edit_review", locals:
            {review: @review} %>
      <% else %>
        <%= render partial: "reviews/new_review", locals: {tour: @tour} %>
      <% end %>
    </div>
  <% end %>

  <div class="col-md-6 col-md-offset-3 tour-reviews">
    <b><%= t ".reviews" %></b>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <table>
      <%= render @reviews %>
    </table>
    <%= will_paginate @reviews %>
  </div>
</div>
