<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<%= will_paginate %>
<ul class="locations">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to t(".add_location"), new_location_path,
      class: "btn btn-info btn-m"%>
  <% end %>
  <%= render @locations %>
</ul>
<%= will_paginate %>
