<%= javascript_include_tag("slideshow.js") %>
<% provide :title, t(".title", name: @location.name) %>
<h1><%= t ".title", name: @location.name %></h1>
<div class="row">
  <div class="col-md-15">
    <div class="slideshow-container">
      <% @location.images.each do |image| %>
        <% if image == @location.images.first %>
          <div class="mySlides" style="display: block">
              <%= image_tag image.url.to_s, size: "700x350" %>
          </div>
        <% else %>
          <div class="mySlides">
              <%= image_tag image.url.to_s, size: "700x350" %>
          </div>
        <% end %>
      <% end %>
      <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div><%= @location.description %></div>
  </div>
</div>
