<header class="navbar navbar-static-top">
  <div class="container">
    <%= link_to t(".booking_tours"), root_path, id: "logo" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <div class="dropdown header-tags">
          <button class="btn dropdown-toggle btn-m" type="button"
            id="languageDropDown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <%= t ".language.language" %> <b class="caret"></b>
          </button>
          <div class="dropdown-menu" aria-labelledby="languageDropDown">
            <a class="dropdown-item"><%= link_to t(".language.en"),
              request.query_parameters.merge(locale: :en) %></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"><%= link_to t(".language.vi"),
              request.query_parameters.merge(locale: :vi) %></a>
          </div>
        </div>
        <div class="header-tags">
            <%= link_to t(".sign_in"), "#", class: "btn btn-info btn-m header-btn" %>
        </div>
        <div class="header-tags">
          <%= link_to t(".register"), register_path, class: "btn btn-info btn-m header-btn" %>
        </div>
      </div>
    </nav>
  </div>
</header>
