<header class="navbar navbar-static-top">
  <div class="container">
    <%= link_to t(".booking_tours"), root_path, id: "logo" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <div class="header-tags">
          <%= link_to t(".all_tours"), tours_path,
            class: "btn dropdown-toggle btn-m header-tags" %>
        </div>
        <div class="dropdown header-tags">
          <button class="btn dropdown-toggle btn-m" type="button"
            id="languageDropDown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <%= t ".language.language" %> <b class="caret"></b>
          </button>
          <div class="dropdown-menu" aria-labelledby="languageDropDown">
            <%= link_to t(".language.en"),
              request.query_parameters.merge(locale: :en),
              class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to t(".language.vi"),
              request.query_parameters.merge(locale: :vi),
              class: "dropdown-item" %>
          </div>
        </div>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <div class="dropdown header-tags">
              <button class="btn dropdown-toggle btn-m" type="button"
                id="languageDropDown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <%= t ".admin" %> <b class="caret"></b>
              </button>
              <div class="dropdown-menu" aria-labelledby="languageDropDown">
                <%= link_to t(".manage_users"), users_path,
                  class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t(".manage_locations"), locations_path,
                  class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t(".manage_tours"), tours_path,
                  class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t(".manage_bookings"), bookings_path,
                  class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to t(".manage_reviews"), "#", class: "dropdown-item" %>
              </div>
            </div>
          <% end %>
          <div class="dropdown header-tags">
            <button class="btn dropdown-toggle btn-m" type="button"
              id="languageDropDown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <%= t ".profile" %> <b class="caret"></b>
            </button>
            <div class="dropdown-menu" aria-labelledby="languageDropDown">
              <%= link_to t(".bookings"), bookings_path, class:
                "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to t(".settings"), edit_user_registration_path,
                class: "dropdown-item" %>
            </div>
          </div>
          <div class="header-tags">
              <%= link_to t(".sign_out"), destroy_user_session_path,
                method: :delete, class: "btn btn-info btn-m header-btn" %>
          </div>
        <% else %>
          <div class="header-tags">
              <%= link_to t(".sign_in"), new_user_session_path, class:
                "btn btn-info btn-m header-btn" %>
          </div>
          <div class="header-tags">
            <%= link_to t(".register"), new_user_registration_path, class:
              "btn btn-info btn-m header-btn" %>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
</header>
